[app]
PageSize = 10
JwtSecret = 233
ScheduleCron = 0 */1 * * * *

[server]
RunMode = debug # debug or release
HttpPort = 8000
ReadTimeout = 60
WriteTimeout = 60

[database]
Type = mysql
User = ***
Password = 
Host = ***:3306
Name = ***

[redis]
Host = ***:6379
Password =
MaxIdle = 30
MaxActive = 30
IdleTimeout = 200

[third-partys]
JueJin = https://api.juejin.cn/recommend_api/v1/article/recommend_all_feed
Csdn = https://blog.csdn.net/phoenix/web/blog/hot-rank?page=0&pageSize=25